

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">


            <div class="form-group" >
                <div class="row">
                    <div class="col-md-12" style="text-align:center">
                        <img  class="img-error" src="~/images/error-403.png" alt="Not Found" style="height:200px;">
                        <div class="text-center">
                            <h1 class="error-title">Access Denied</h1>
                            <p class="fs-5 text-gray-600">You are unauthorized to see this page.</p>
                            <a href="~/Logins/Index" class="btn btn-lg btn-outline-primary mt-3">Leave Here Now</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




